/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/
@import "./scss/main";

a {
	text-decoration: none;
}

[data-type="bootstrap/container"],
[data-type="bootstrap/row"],
[data-type="bootstrap/col"] {
	> .editor-block-list__block-edit::after {
		z-index: 0;
		content: "";
		position: absolute;
		outline: 1px solid rgba(#673ab7, 0.5);
		transition: outline 0.1s linear;
		pointer-events: none;
		right: -14px;
		left: -14px;
		top: -14px;
		bottom: -14px;
	}
}

// .block-name-bootstrap {
// 	color: #f2f2f2;
// 	background: grey;
// 	display: block;
// 	font-size: 12px;
// 	padding: 0 15px;
// 	text-align: right;
// 	width: 100%;
// }
