/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/
@import "./scss/main";

a {
	text-decoration: none;
}

[data-type*="bootstrap/row"],
[data-type*="bootstrap/col"] {
	border: 1px solid #e8e8e8;
}

.bootstrap-bloc-name {
	color: #f2f2f2;
	background: grey;
	display: block;
	font-size: 12px;
	padding: 0 15px;
	text-align: right;
	width: 100%;
}
